div{
    border: 3px solid black;
    border-style: solid;
    border-radius: 10px;
    background-color: aliceblue;
    border-color: aliceblue;
    padding: 20px;
    margin: 20px;
}
.form{
    background-color: rgb(101,101,226);
    border-color: rgb(101,101,226);
    text-align: center;
}
table{
   width: 1240px;
}
table, td{
    border: 1px solid grey;
    border-collapse: collapse;
    text-align: center;
}
.limit{
    text-align: center;
}
button{
    font-size: 20px;
    background-color: rgb(18, 156, 18);
    border-radius: 5px;
    color: white;
    width: 1250px;
}
.emer{
    padding-top: 10px;
}
.same{
    text-align: center;
}
.love{
    width: 1240px;
    font-size: 20px;
}
.mile{
    width: 1240px;
    font-size: 20px;
}
.puno{
    border-color: aliceblue;
    margin: 20px;
    background-color:aliceblue;
    padding:20px ;
    border-radius: 10px;
    border-style: calc();
}
.vazhdo{
    border-color: aliceblue;
    margin: 20px;
    background-color:aliceblue;
    padding:20px ;
    border-radius: 10px;
    border-style: calc();
}
.shum{
    width: 250px;
    height: 70px;
    background-color: yellow;
    position: relative;
    border-radius: 10px;
    padding-top:20px ;
    padding-bottom: 50px;
}
.lim{width: 1190px;
    height: 15px;
    background-color: yellow;
    position: relative;
    border-radius: 10px;
    padding-top:7px ;
    padding-bottom: 25px;
}
.pak{
    text-align: center;
}
